$dark-green: #579c87;
$yellow: #fdcb46;
$pink: #fcdfdb;
$brown: #3c1218;
$white-1: #fff5fe;
$orange: #c77412;
$orange-1: #d17200;
$white-2: #f9f9f9;
$blue: #0887fb;
$white-3: #fdfffd;
$green: #72bf56;
$purple: #ac6baf;
$dark-purple: #905bfd;



body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*header*/


header {
    background-color: $dark-green;
    font-family: 'breulgroteskA-regular', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;

    .entete {
        width: 100%;
    }

    h1 {
        font-size: 4em;
        text-align: center;
        margin: 0;
    }

    a {
        color: $yellow;
        text-decoration: none;
    }
}

/*iphone*/

.iphone .border1 {
    display: inline-block;
    color: $orange-1;
    text-decoration: none;

    &::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        background: $orange-1;
        transition: width .3s;
    }

    &:hover::after {
        width: 100%;
        transition: width .3s;
    }
}

.iphone .border2 {
    display: inline-block;
    color: $purple;
    text-decoration: none;

    &::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        background: $purple;
        transition: width .3s;
    }

    &:hover::after {
        width: 100%;
        transition: width .3s;
    }
}

.iphone .border-3 {
    display: inline-block;
    color: $dark-purple;
    text-decoration: none;

    &::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        background: $dark-purple;
        transition: width .3s;
    }

    &:hover::after {
        width: 100%;
        transition: width .3s;
    }
}

/*Corps*/

.premiertitre {
    font-size: 2em;
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
}

.menu2 {
    width: 90%;
    height: 1650px;
    border-radius: 1%;
    box-shadow: 0.5px 0.5px 10px grey;
    background-color: $white-1;
    margin: 0 auto;
    margin-bottom: 20%;

    @media screen and (max-width:1200px) {
        margin-bottom: 19%;
        height: 1650px;
    }

    .note1er {
        display: flex;
        justify-content: center;
    }

    .border1 {
        display: inline-block;
        color: $orange-1;
        text-decoration: none;

        &::after {
            content: '';
            display: block;
            width: 0;
            height: 3px;
            background: $orange-1;
            transition: width .3s;
        }

        &:hover::after {
            width: 100%;
            transition: width .3s;
        }
    }

    .border2 {
        display: inline-block;
        color: $purple;
        text-decoration: none;

        &::after {
            content: '';
            display: block;
            width: 0;
            height: 3px;
            background: $purple;
            transition: width .3s;
        }

        &:hover::after {
            width: 100%;
            transition: width .3s;
        }
    }

    .border-3 {
        display: inline-block;
        color: $dark-purple;
        text-decoration: none;

        &::after {
            content: '';
            display: block;
            width: 0;
            height: 3px;
            background: $dark-purple;
            transition: width .3s;
        }

        &:hover::after {
            width: 100%;
            transition: width .3s;
        }
    }

    .chic {
        font-size: 50px;
        font-family: 'croissant one';
        background-image: linear-gradient(to right, #d8852e, #be747e, #ac6baf, #905bfd);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        padding-top: 7%;
        margin-bottom: 7%;
    }

    .Titre-menu1,
        {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .Titre-menu2,
    .Titre-menu3 {
        @extend .Titre-menu1;
    }

    .Titre-menu1 h3,
    .Titre-menu2 h3 {
        font-family: 'segoe print', 'tillana';
        margin-top: 3%;
        font-size: 2em;
        color: $orange-1;
    }

    .Titre-menu2 h3 {
        color: $purple;
    }

    .Titre-menu3 h3 {
        color: $dark-purple;
    }

    .entree li {

        color: $orange-1;
    }

    .repas li {
        color: $purple;
    }

    .dessert li {
        color: $dark-purple;
    }

    @media screen and (max-width: 1000px) {
        img {
            height: 30px;
        }
    }
}

li {
    display: flex;

    p {
        font-family: 'tillana';
        font-size: 1.3em;
    }

    .plat {
        margin-left: 10%
    }

    .prix {
        margin-left: auto;
        margin-right: 5%;
    }

    @media screen and (max-width: 1200px) {
        li {
            font-size: 1.3em;
        }

        .plat {
            margin-left: 2%
        }
    }
}


/* footer */

footer {
    background-color: $dark-green;
    position: fixed;
    bottom: 0;
    width: 100%;

    #contenair {
        color: $yellow;
        font-size: 30px;
        display: flex;
        justify-content: space-between;
        margin-left: 3%;
        margin-right: 3%;
        font-family: 'NoyhRW01-SemiLight', sans-serif;
    }

    .mention:hover,
    .p3:hover {
        -webkit-animation: wiggle 0.5s infinite;
    }

    a {
        color: $yellow;
        text-decoration: none;
    }
}

/*keyframes*/

@-webkit-keyframes wiggle {
    0% {
        transform: translate(1px, 1px);
    }

    10% {
        transform: translate(-1px, -1px);
    }

    20% {
        transform: translate(1px, 1px);
    }

    30% {
        transform: translate(-1px, -1px);
    }

    40% {
        transform: translate(1px, 1px);
    }

    50% {
        transform: translate(-1px, -1px);
    }

    60% {
        transform: translate(1px, 1px);
    }

    70% {
        transform: translate(-1px, -1px);
    }

    80% {
        transform: translate(1px, 1px);
    }

    90% {
        transform: translate(-1px, -1px);
    }

    100% {
        transform: translate(1px, 1px);
    }
}
